@using ContactDALLib.Model
@model List<Contact>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<style>
    .table-center {
         margin: 0 auto;
         float: none;
    }
    h1{
        color:forestgreen;
        text-align:center;
        font-weight:bold;
    }
    td{
        color:darkblue;
    }
</style>
<h1>Get Detalis of All Contacts</h1>
<hr /><br />
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile_Number</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.Name</td>
                    <td>@contact.MobileNumber</td>
                    <td>@contact.Address</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>